@use "./../assets/scss/bootstrap-variables.scss" as vars;

.height-main-row {
  height: vars.$main-row-height;
}

.full-height-main-content {
  height: vars.$main-content-height;
}


.scroll-hidden {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
